@media(max-width:768px) {
    .fv-container {
        height: 600px;
    }
    .fv-content h2 {
        font-size: 40px;
    }
    .news-container {
        width: auto;
        display: block;
        padding: 0 20px;
    }
    .head-home-news {
        text-align: center;
        margin: 40px 0 75px 0;
    }
    .news-list {
        padding: 0 20px;
    }
    .news-list li {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .news-link {
        margin-top: 12px;
    }
    .service-container {
        width: auto;
        padding: 0 20px;
    }
    .body-home-service {
        display: block;
        text-align: center;
        padding: 0 20px;
    }
    .service-list img {
        width: 285px;
        height: 155px;
    }
    .service-discription {
        margin-bottom: 40px;
    }
    .work-container {
        width: auto;
        flex-direction: column;
        position: static;
    }
    .work-img {
        max-width: 100%;
        height: auto;
        position: static;
        left: 0px;
        top: 0px;
        z-index: 0;
    }
    .work-text {
        max-width: 100%;
        text-align: center;
        padding: 60px 20px;
        position: static;
    }
    .work-text .deiscription {
        text-align: center;
    }
    .canpany-container {
        width: auto;
        background-image: none;
        padding: 0 20px;
        margin-top: 0px;
    }
    .head-home-canpany h2 {
        padding-top: 0px;
    }
    .body-home-canpany-ttl {
        font-size: 25px;
    }
    .recruit-container {
        width: auto;
        flex-direction: column;
    }
    .recruit-text {
        width: 100%;
    }
    .recruit-img img {
        width: 100%;
        height: auto;
    }
    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 15px 0;
    }
    .footer-nav {
        text-align: center;
    }
    .footer-nav-list li {
        margin-bottom: 15px;
    }
}